* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, sans-serif;
  background: white;
}

#pdf-area {
  width: 210mm;
  overflow: hidden;
  position: relative;
  color: #333;
}

#content {
  z-index: 1;
  padding: 0 35px;
  position: relative;
}

h1 {
  text-align: center;
  margin-top: 170px;
  font-size: 25px;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  margin-bottom: 35px;
  background: rgba(255, 255, 255, 0.6);
}

table th, table td {
  border: 0.2px solid black;
  padding: 5px;
  text-align: end;
}

table th {
  font-size: 13px;
  background: rgba(120, 190, 255, 0.3);
}

table td:first-child {
  text-align: left;
}

.section, .section2 {
  margin-left: 10px;
  margin-bottom: 25px;
}

.section p {
  font-size: 15px;
  margin-bottom: 10px;
}

.section li, .section2 li {
  font-size: 13px;
  list-style: none;
}

.section li::before {
  content: "-";
  margin-right: 5px;
}
