* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, sans-serif;
  background: transparent;
}

#pdf-area {
  position: relative;
  width: 210mm;
  height: 297mm;
  overflow: hidden;
}

#bg-img {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#content {
  position: relative;
  z-index: 1;
  padding: 0 35px;
}

h5 {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight:500;
  text-align: end;
  margin-top: 170px;
  margin-bottom: 7px;
}

h4 {
  display: flex;
  justify-content: flex-end;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-bottom: 14px;
  font-size: 15px;
}

h1 {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  margin-bottom: 35px;
  font-family: Arial, sans-serif;
}

table th, table td {
  border-bottom: 0.1px solid black;
  border-right: 0.1px solid black;
}

table th:first-child, table td:first-child {
  border-left: 0.1px solid black;
}

table tr:first-child {
background: linear-gradient(
  135deg,
  rgba(0, 140, 255, 0.4),
  rgba(10, 150, 255, 0.4),
  rgba(20, 160, 255, 0.4),
  rgba(30, 170, 255, 0.4),
  rgba(40, 180, 255, 0.4)
);

}

table th {
  font-size: 13.5px;
  padding: 4px 0px;
  border-top: 0.1px solid black;
}

table span {
  font-size: 12px;
  font-weight: 500;
}

table td {
  padding: 5px 5px;
  text-align: end;
  background: rgba(255, 255, 255, 0.6);
}

table td:nth-child(4)::after {
  content: ' PLN';
}

table tr:not(:last-child) td:nth-child(2)::after {
  content: ' PLN';
}

table tr:not(:last-child) td:nth-child(3)::after {
  content: ' szt';
}

table td:nth-child(2) {
  width: 18%;
}

table td:nth-child(3) {
  width: 8%;
  text-align: center;
  padding: 0;
}

table td:nth-child(4) {
  width: 15%;
}

table td:first-child {
  text-align: start;
}

table td:last-child {
  font-weight: 600;
}

table tr:last-child td:first-child {
  border-right: 0;
  font-size: 14px;
}

table tr:last-child td:nth-child(2) {
  border-right: 0;
  border-left: 0;
}

table tr:last-child td:nth-child(3) {
  border-left: 0;
}

table tr:last-child td {
  font-weight: 700;
}

.section {
  margin-bottom: 40px;
  margin-left: 40px;
  font-family: 'Montserrat', sans-serif;
}

.section p {
  margin-bottom: 10px;
  font-size: 15px;
}

.section ul {
  line-height: 120%;
  list-style: none;
  margin-left: 10px;
}

.section li::before {
  content: "-";
  margin-right: 5px;
}

.section li {
  font-size: 13px;
}

.section2 {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 60px;
}

.section2 ul {
  list-style: none;
  padding-left: 0;
}

.section2 li {
  position: relative;
  padding-left: 25px;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
  color: #0054a3;

}



[id="pdf-area"] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

[id="content"] {
  flex: 1;
}

footer, .name {
  font-family: 'Montserrat', sans-serif;
}

.name {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: center;
  line-height:22px;
}

.name {
  line-height:22px;
}

footer {
  text-align: center;
  z-index: 5;
  width: 100%;
  border-top: 1px solid black;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.7);
}



a {
  color: black;
  text-decoration: underline;
  font-weight: 600;
}
